.navBarIcon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.navBarIcon{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.iconText{
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-wrap: wrap;
}