@font-face {
    font-family: 'Roboto';;
    src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#root {
    height: 100vh;
    width: 100%;
}
.dark{
    background-color: #352548;
    color: #FAFAFA;
}
.dark h1{
    color: #FAFAFA;
}
.dark i{
    color: #9C9CA0;
}
.dark i:hover{
    color: rgb(139, 138, 138);
}
.dark .container main{
}
.dark nav{
    background-color: #2A2B34;
    color: #fff;
}
.dark nav .switch__label{
    box-shadow: 0px 0px 33px 1px rgb(14, 1, 44);
}
.dark header{
    background-color: #2A2B34;
}

/*light*/

.light{
    background-color: #F5F5F5;
    color: #40404C;
}
.light header{
    background-color: #0B877D;
}
.light header p {
    color: #FFFFFF;
}
.light h1{
    color: #ffffff;
}
.light i{
    color: #000000;
}
.light i:hover{
    color: rgb(139, 138, 138);
}
.light .container main{
    background-color: #f2f2f2;
    color: #000000;
}

.light .container main h1{
    color: #000000;
}

.light nav{
    background-color: #212529;
    color: #000000;
}
.light .container nav .switch__label{
    box-shadow: 0px 0px 33px 1px rgb(255, 174, 0);
}
.light .container nav .menu-container i{
    color: #FFF;
}